
<ion-toolbar color="primary">
  <ion-buttons class="backbutton" slot="start">
    <ion-back-button defaultHref="/bestpractices"></ion-back-button>
  </ion-buttons>
<ion-title class="textcenter">{{ 'Best Practices' | translate }}</ion-title>
</ion-toolbar>
<div class="scrollablecontainer">
<h5 class="heading"><b>{{'Interviewer'| translate}}</b></h5>
<ul class= "questions">
  <li>{{'Interviewer_0' | translate}}</li>
    <br/>
    <li>{{'Interviewer_1' | translate}}</li>
    <br/>
    <li>{{'Interviewer_2' | translate}}</li>
    <br/>
   <li> {{'Interviewer_3' | translate}}</li>

</ul>
<h5 class="heading"><b>{{'Interviewee'| translate}}</b></h5>
<ul class= "questions">
  <li>{{'Interviewee_0' | translate}}</li>
  <br/>
   <li>{{'Interviewee_1' | translate}}</li>
    <br/>
    <li>{{'Interviewee_2' | translate}}</li>
    <br/>
   <li>{{'Interviewee_3' | translate}}</li>
   <br/>
</ul>
<h5 class="audioheading"><b>{{'sampleaudio1' | translate}}</b></h5>
<div class="playAudio">
 
  <ion-button
*ngIf="((stop == undefined))"
size="small"
color="primary"
(click)="mediaPlayAudio(1)"
>
<ion-icon size="small" slot="icon-only" name="play"></ion-icon>
</ion-button>
<ion-button
  *ngIf="(file_url)"
  size="small"
  color="danger"
  class="stop"
  (click)="mediaPauseAudio(topic, topic.topic_id)"
></ion-button>
</div>
</div>
<app-footer></app-footer>


