
<ion-toolbar color="primary">
  <ion-buttons class="backbutton" slot="start">
    <ion-back-button defaultHref="/bestpractices"></ion-back-button>
  </ion-buttons>

<ion-title class="textcenter">{{ 'Best Practices' | translate }}</ion-title>
</ion-toolbar>



<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title><h5 class="heading"><b>{{'Interviewer'| translate}}</b></h5>  </ion-card-title>
        <ul class= "questions">
          <li>{{'Interviewer_0' | translate}}</li>
            <br/>
            <li>{{'Interviewer_1' | translate}}</li>
            <br/>
            <li>{{'Interviewer_2' | translate}}</li>
            <br/>
           <li> {{'Interviewer_3' | translate}}</li>
        
        </ul>
      
        <ion-card-title> <h5 class="heading"><b>{{'Interviewee'| translate}}</b></h5></ion-card-title>
<ul class= "questions">
  <li>{{'Interviewee_0' | translate}}</li>
  <br/>
   <li>{{'Interviewee_1' | translate}}</li>
    <br/>
    <li>{{'Interviewee_2' | translate}}</li>
    <br/>
   <li>{{'Interviewee_3' | translate}}</li>
   <br/>
</ul>

<div class="scrollablecontainer">



  <div class="aligning">
    <div  class="audioheading">
    <ion-card-title> <h5><b>{{'sampleaudio1' | translate}}</b></h5></ion-card-title>
  </div>
    <div class="playAudio">
    <ion-button
    id = "audio1" 
    *ngIf="((stop == undefined) || (stop == 2))"
  size="small"
  color="primary"
  (click)="mediaPlayAudio(1)"
  >
  <ion-icon size="small" slot="icon-only" name="play"></ion-icon>
  </ion-button>
  
  
  
  <ion-button
    
    *ngIf="(( stop == 1) )"
    size="small"
    color="danger"
    class="stop"
    (click)="mediaPauseAudio(1)"  
  >
  <ion-icon size="small" slot="icon-only" name="square"></ion-icon>
  </ion-button>
  </div>
  </div>
  <br/>
  
  <div >
  
    <div class="audioheading">
    <ion-card-title>  <h5 ><b>{{'sampleaudio2' | translate}}</b></h5></ion-card-title>
  </div>
  
    <div class = "playAudio" style="padding-bottom: 7vh;">
    <ion-button  
  *ngIf="((stop == undefined) || (stop == 1))"
  size="small"
  color="primary"
  (click)="mediaPlayAudio(2)"
  >
  <ion-icon size="small" slot="icon-only" name="play"></ion-icon>
  </ion-button>
  
  <ion-button
  *ngIf="((stop == 2) )"
  size="small"
  color="danger"
  class="stop"
  (click)="mediaPauseAudio(2)"  
  >
  <ion-icon size="small" slot="icon-only" name="square"></ion-icon>
  </ion-button>
  
  </div>
  
  </div>
  
  </div>

    
    </ion-card-header>
  </ion-card>
</ion-content>
<app-footer></app-footer>


