#login{
    width:100%;
    // background: #00527d;
    height: 100vh;
    color: #fff;
    padding-top:20%;
    .logo{
        text-align:center;
        padding:7em 2em 1.5em 1.5em;
    }
    // h1{
    //     text-align: center;
    //     padding: 5% 0;
    //     span{
    //         color: #b7   cc1a
    //     }
    // }
}
.logincont{margin: 10% auto;}
ion-label{
    font-weight: bold;
}
ion-item{
}
ion-input{
    padding: 1em 2em;
}
.custominput{
    cursor: pointer;
    // background: #f2f2f2;
    color:#333;
    width:100%;
    margin:1em 0;
    padding-left:1em
}
input[placeholder]{
    margin: 1.2em;
    padding: 3em;
}
.loginbtn{
       text-align: center;
       color:#fff;
}
.tbg {
    background-image: url(/assets/images/bubble-11.svg);
    background-size: cover;
    position: absolute;
    top: -32px;
    width: 108px;
    height: 204px;
    left: -3px;
}
.bbg {
background-image: url(/assets/images/bubble-25.svg);
    background-size: cover;
    position: absolute;
    top: -75px;
    width: 108px;
    height: 204px;
    right: -45px;
}
// .bbbg {
//   background-image: url(/assets/images/bubble-3.svg);
//     background-size: cover;
//     position: absolute;
//     bottom: -73px;
//     width: 108px;
//     height: 204px;
//     right: -50px;
// }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding:1em;
}
::-moz-placeholder { /* Firefox 19+ */
  padding:1em;
}
:-ms-input-placeholder { /* IE 10+ */
  padding:1em;
}
:-moz-placeholder { /* Firefox 18- */
  padding:1em;
}