<!-- <ion-list >
  <ion-item>
    <ion-label>{{'Select Language' | translate}}</ion-label>
      <ion-select interface="popover" 
      [ngModel]="selectedLanguage" 
      (ionChange)="optionsFn($event)">
      <ion-select-option *ngFor="let lang of languageList" value="{{lang}}">
        {{lang }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list> -->

<div class="languageList">
  <span class="languageWrapper">
    <a (click)="langSelected('en')">English</a>
    &nbsp;
    <a (click)="langSelected('hi')">हिन्दी</a>
  </span>
</div>