<ion-footer>
    <!-- <ion-footer [ngStyle]="{'display':(!router.url.includes('login')) ? 'block' : 'none' }"> -->
      <ion-toolbar color="dark">
      <div class="footericons">
        <div class="footericon" (click)="sessionRoute()" routerLinkActive="active">
          <ion-icon name="home" size="large"></ion-icon>
          <p class="footericontext">घर</p>
        </div>
        <div class="footericon" (click)="newSessionRoute()" routerLinkActive="active">
          <ion-icon name="add-circle" size="large"></ion-icon>
          <p class="footericontext">नया सत्र</p>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>