<ion-toolbar color="primary">
  <!-- <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>
  </ion-buttons> -->
  <ion-buttons class="backbutton" slot="start">
    <ion-back-button defaultHref="/sessions"></ion-back-button>
  </ion-buttons>
  <ion-title class="textcenter">{{ 'Session Details' | translate }}</ion-title>
</ion-toolbar>

<br />
<ion-content class="ion-padding" *ngIf="!!sessionData">
  <div class="uploadstatus">
    <h1>{{sessionData.name}}</h1>
    <ion-button *ngIf="!sessionData.isUploaded" disabled size="small">
      <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
    </ion-button>
    <ion-button *ngIf="sessionData.isUploaded" disabled size="small">
      <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
    </ion-button>
  </div>

  <h5>{{ sessionData.created | dateTime | translate}}</h5>
  <br />
  <!-- <p>
    Watering harvesting means capturing rain water, where it falls and capture
    the runoff from, catchment and streams etc. Generally, water harvesting is
    direct rainwater collection.
  </p> -->
  <div class="sessionlist"  *ngIf="userRole!=='vrp' && userRole!=='block_officer'">
    <div class="sessiondetails">
      <div class="sections" *ngFor="let topic of topics">
        <div class="sectionname">
          <!-- <p>{{'topic.topic_name' | translate}}</p> -->
        </div>
        <div class="actions">
          <ion-button
            *ngIf="!topic.file_url"
            size="small"
            (click)="mediaRecording(topic,topic.topic_id)"
          >
            <ion-icon
              slot="icon-only"
              size="small"
              name="microphone"
            ></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="(!sessionData.isUploaded && !topic.isUploaded) && topic.file_url && ((stop == undefined) || (topic.topic_id != stop))"
            size="small"
            color="primary"
            (click)="mediaPlayAudio(topic, topic.topic_id)"
          >
            <ion-icon size="small" slot="icon-only" name="play"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="(!sessionData.isUploaded && !topic.isUploaded) && topic.file_url && (topic.topic_id==stop)"
            size="small"
            color="danger"
            class="stop"
            (click)="mediaPauseAudio(topic, topic.topic_id)"
          >
            <ion-icon size="small" slot="icon-only" name="square"></ion-icon>
          </ion-button>
          <ion-button *ngIf="topic.isUploaded && topic.topic_status === '3'" disabled size="small">
            <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="sessionlist"  *ngIf="userRole ==='vrp' || userRole ==='block_officer'">
    <div class="sessiondetails">
      <p *ngIf="topci1Name">{{topci1Name | translate}}</p>
      <div class="sessiondetails-part1">
      <div class="sections" *ngFor="let topic of topics1">
        <div class="sectionname">
          <p>{{topic.topic_name}}</p>
        </div>
        <div class="actions">
          <ion-button
            *ngIf="!topic.file_url"
            size="small"
            (click)="mediaRecording(topic, topic.topic_id)"
          >
            <ion-icon
              slot="icon-only"
              size="small"
              name="microphone"
            ></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="(!sessionData.isUploaded && !topic.isUploaded) && topic.file_url && ((stop == undefined) || (topic.topic_id != stop))"
            size="small"
            color="primary"
            (click)="mediaPlayAudio(topic, topic.topic_id)"
          >
            <ion-icon size="small" slot="icon-only" name="play"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="(!sessionData.isUploaded && !topic.isUploaded) && topic.file_url && (topic.topic_id==stop)"
            size="small"
            color="danger"
            class="stop"
            (click)="mediaPauseAudio(topic, topic.topic_id)"
          >
            <ion-icon size="small" slot="icon-only" name="square"></ion-icon>
          </ion-button>
          <ion-button *ngIf=" topic.isUploaded && topic.topic_status === '3'" disabled size="small">
            <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
          </ion-button>
        </div>
      </div>
      </div>
      <br/>
      <p *ngIf="topic2Name">{{topic2Name}}</p>
      <div class="sessiondetails-part2">
      <div class="sections" *ngFor="let topic of topics2">
          <div class="sectionname">
            <p>{{topic.topic_name}}</p>
          </div>
          <div class="actions">
            <ion-button
              *ngIf="!topic.file_url"
              size="small"
              (click)="mediaRecording(topic,topic.topic_id)"
            >
              <ion-icon
                slot="icon-only"
                size="small"
                name="microphone"
              ></ion-icon>
            </ion-button>
            <ion-button
              *ngIf="( !topic.isUploaded) && topic.file_url && ((stop == undefined) || (topic.topic_id != stop))"
              size="small"
              color="primary"
              (click)="mediaPlayAudio(topic, topic.topic_id)"
            >
              <ion-icon size="small" slot="icon-only" name="play"></ion-icon>
            </ion-button>
            <ion-button
              *ngIf="( !topic.isUploaded) && topic.file_url && (topic.topic_id==stop)"
              size="small"
              color="danger"
              class="stop"
              (click)="mediaPauseAudio(topic, topic.topic_id)"
            >
              <ion-icon size="small" slot="icon-only" name="square"></ion-icon>
            </ion-button>
            <ion-button *ngIf=" topic.isUploaded && topic.topic_status === '3'" disabled size="small">
              <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>