.sections{
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    border-bottom: 1px solid #ccc

}
.sectionname{
    font-size:0.9em;
    width:60%
}

.textcenter{
    text-align: center;
    margin:auto;
}
.backbutton{
    left:36px;
    position: absolute;
    // z-index: 999
}
ion-title{
    width:65%
}

.uploadstatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin-top: auto;
    }
}

h5 {
    margin-top: auto;
}

::ng-deep {
    ion-footer{
        display: block !important;
    }
  }