<ion-toolbar color="primary">
  <!-- <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>
  </ion-buttons> -->
  <ion-buttons class="backbutton" slot="start">
    <ion-back-button defaultHref="/sessions"></ion-back-button>
  </ion-buttons>
  <ion-title class="textcenter">Session Details</ion-title>
</ion-toolbar>

<br />
<ion-content class="ion-padding" *ngIf="!!sessionData">
  <div class="uploadstatus">
    <h1>{{sessionData.name}}</h1>
    <ion-button *ngIf="!sessionData.isUploaded" disabled size="small">
      <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
    </ion-button>
    <ion-button *ngIf="sessionData.isUploaded" disabled size="small">
      <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
    </ion-button>
  </div>

  <h5>{{ sessionData.created | date: 'fullDate' }}</h5>
  <br />
  <!-- <p>
    Watering harvesting means capturing rain water, where it falls and capture
    the runoff from, catchment and streams etc. Generally, water harvesting is
    direct rainwater collection.
  </p> -->
  <div class="sessionlist">
    <div class="sessiondetails">
      <div
        class="sections"
        *ngFor="let topic of sessionData.topics; let i=index"
      >
        <div class="sectionname">
          <p>{{topic.topic_name}}</p>
        </div>
        <div class="actions">
          <ion-button
            *ngIf="!topic.file_url"
            size="small"
            [routerLink]='["/sessionrecordingpage",sessionData.sessionid,topic.topic_id,topic.topic_name]'
          >
            <ion-icon
              slot="icon-only"
              size="small"
              name="microphone"
            ></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="topic.file_url && !played"
            size="small"
            color="primary"
            (click)="mediaPlayAudio(topic.file_url, i)"
          >
            <ion-icon size="small" slot="icon-only" name="play"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="topic.file_url && played"
            size="small"
            color="danger"
            class="stop"
            (click)="mediaPauseAudio(topic.file_url, i)"
          >
            <ion-icon size="small" slot="icon-only" name="square"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
